---
# Apple/Swift-inspired formatting on an LLVM base: 2-space indentation
# (matching Swift), PascalCase files, Swift-style naming.

BasedOnStyle: LLVM
IndentWidth: 2
AccessModifierOffset: -2
ColumnLimit: 100
PointerAlignment: Right
DerivePointerAlignment: false
SortIncludes: CaseSensitive
Standard: c++20
AllowShortFunctionsOnASingleLine: InlineOnly